body {
    background-image: url(1.jpeg);
    background-size: 1400px;
    background-repeat: no-repeat;
}

/*Header*/
.p {
    text-align: center;
    font-size: 25px;
    background: transparent;
    color: gray;
    top: 35%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    font-family: l;
    list-style-type: none;
}

.p :hover
{
 color: black;
 background-color: #fb2525;
}

/*Source Button*/
.loginbox [type="submit"]
{
    text-decoration: none;
    font-size: 25px;
    color: chartreuse;
    padding: 3px;
    border:1px solid black;
}

.loginbox [type="submit"]{
    border-radius: 50px;
    background-color: black;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.loginbox :hover
{
    border:black;
    font-size: 25px;
    background: chartreuse;
    background: #fb2525;
    color: #fff;
    border-radius: 100px;
}

footer {
    
    text-align: center;
    color: rgb(29, 196, 160);
    padding: 100px;
    position: absolute;
    top: 80%;
    left: 37%;

}

